body {
  background-color: #fcf4db;
}

.footer {
  text-align: center;
  font-size: x-small;
}

.shecodes {
  color: #fc709b;
  text-decoration: none;
}

.shecodes:hover {
  color: #9771f3;
  text-decoration: underline;
}
